# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/
.env

# IDE configuration
.vscode/
.idea/

# Dataset files
dataset/

# Added by Gemini
csiro-biomass.zip
data/
submission.csv
temp_output/